@font-face {
  font-family: "Gotham";
  font-display: swap;
  src: local("gotham_rounded_light"),
    url(../fonts/Gotham-Rounded-Light.otf) format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Bold";
  font-display: swap;
  src: local("gotham_bold"), url(../fonts/Gotham-Bold.otf) format("opentype");
  font-weight: 500;
  font-style: bold;
}

@font-face {
  font-family: "Helvetica Neue";
  font-display: swap;
  src: local("helvetica_neue"),
    url(../fonts/HelveticaNeue-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue Light";
  font-display: swap;
  src: local("helvetica_neue_light"),
    url(../fonts/HelveticaNeue-Light.otf) format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue Bold";
  font-display: swap;
  src: local("helvetica_neue_light"),
    url(../fonts/HelveticaNeue-Bold.ttf) format("truetype");
  font-weight: 500;
  font-style: bold;
}
