$pink: #d35266;
$grey: #888;
$grey-dark: #383838;
@mixin flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscaled;
}

body {
  font-size: 12px;
  font-family: "Helvetica Neue Light", Arial, Helvetica, sans-serif;
  color: $grey-dark;

  a {
    font-family: "Gotham Bold", Arial, Helvetica, sans-serif;
    color: $grey-dark;
    text-decoration: none;
    font-weight: bold;
  }

  i {
    font-family: "Fontawesome", Arial, Helvetica, sans-serif;
  }
}

.nav-main {
  @include flex-centered;
  height: 40px;
  width: 100%;
  background-color: $grey-dark;
  position: fixed;
  top: 0;
  z-index: 99;
  justify-content: space-between;
  ul {
    @include flex-centered;
    justify-content: space-between;
    flex-basis: 98%;
    li {
      margin-right: 2px;
    }
    a {
      color: $grey;
      font-size: 10px;
    }
    i {
      margin-right: 3px;
    }
  }
  ul:last-child {
    display: none;
  }
  .nav-button {
    display: none;
  }
  .nav-logo {
    background-image: url(../images/logos/4drumzLogo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    height: 40px;
    width: 88px;
  }
}

.search-section {
  @include flex-centered;
  flex-direction: column;
  background-color: $pink;
  background-image: url(../images/logos/Drums.svg);
  background-position: -200px 50%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  min-height: 100%;
  padding-bottom: 10%;

  .main-titles {
    @include flex-centered();
    flex-direction: column;
    flex: 1;
    width: 100%;
    padding-top: 50px;

    .main-logo {
      background-image: url(../images/logos/4drumz.svg);
      background-repeat: no-repeat;
      flex-basis: 100%;
      width: 75%;
      background-size: cover;
      background-position: 50%;
      margin-bottom: 20px;
      padding-bottom: 25%;
    }
  }
  h2 {
    font-family: "Helvetica Neue Light", Arial, Helvetica, sans-serif;
    color: white;
    width: 80%;
    font-size: 16px;
    text-align: center;
  }

  .search-form {
    @include flex-centered;
    padding-top: 50px;
    flex-direction: column;
    width: 80%;

    & > * {
      margin-bottom: 20px;
      font-size: 16px;
      font-family: "Helvetica Neue Light", Arial, Helvetica, sans-serif;
      font-weight: 500;
      line-height: 1.3;
      padding: 2% 2% 2% 12%;
      border-radius: 5px;
    }
    select {
      order: 2;
      width: 100%;
      max-width: 100%;
      border: 1px solid $pink;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      background-color: #fff;
      background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23383838%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E),
        -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e5e5e5));
      background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23383838%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E),
        linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
      background-repeat: no-repeat, repeat;
      background-position: left 4% top 50%, 0 0;
      background-size: 0.65em auto, 100%;
      &:focus {
        outline: none;
      }
    }
    input {
      width: 100%;
      order: 1;
      &:focus {
        outline: none;
      }
    }
    button {
      order: 3;
      display: block;
      background-color: $grey-dark;
      color: $grey;
      width: 100%;
      padding: 2% 0;
    }
  }
}

.publicity-slider {
  @include flex-centered();
  flex-direction: column;
  margin: 15px 0;

  .publicity-slider-title {
    align-self: normal;
    padding-left: 3%;
    font-weight: bold;
    color: $grey;
  }
  .glide {
    width: 90%;

    .item-container {
      padding: 5%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 3px;

      .item-image-container {
        padding: 3%;
        .item-img {
          grid-column: 1 / 2;
          background-position: center;
          background-repeat: no-repeat;
          background-size: 100%;
          padding-top: 100%;
        }
      }

      .item-info {
        grid-column: 2 / 4;
        padding: 2% 0 0 5%;

        h2 {
          font-size: 16px;
          color: $pink;
          margin-bottom: 5%;
        }
        p {
          margin-bottom: 4%;
        }

        .item-buttons {
          display: flex;
          max-width: 300px;
          max-height: 100px;

          button:first-child {
            flex-basis: 28%;
            border-right: 0.5px solid $grey;
            border-radius: 3px 0 0 3px;
          }

          button:last-child {
            flex-basis: 70%;
            border-radius: 0 3px 3px 0;
          }

          i {
            margin-right: 5px;
          }
        }
      }
    }
  }
}

.product-sections {
  background-color: #f0f0f0;
  position: relative;

  .section-title {
    display: flex;
    padding: 2% 0 2% 2%;
    background-color: #f0f0f0;
    position: sticky;
    top: 40px;
    z-index: 98;

    i {
      font-size: 23px;
      margin-right: 22px;
      color: $grey;
    }

    h3 {
      font-size: 15px;
      font-weight: bold;
      padding: 4px 0 0 0;
      margin-right: 5%;
    }

    h5 {
      font-size: 10px;
      color: $grey;
      padding: 6px 0 0 0;
    }

    .border-bottom {
      position: absolute;
      width: 100%;
      border-bottom: 0.5px solid $grey;
      left: 0;
      bottom: 0;
    }
  }
  .product-sections-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 5%;
    height: 80%;
    .grid-item {
      padding: 10%;
      background-color: white;
      background-size: 100%;
      border-radius: 15px;
      .item-images {
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        padding-top: 100%;
        margin-bottom: 10px;
      }

      .item-info > * {
        margin: 5px;
      }

      .item-footer {
        @include flex-centered();
        justify-content: space-between;
        padding: 10% 5px 0 5px;
        font-size: 20px;

        .add {
          font-size: 24px;
          color: #dbdbdb;
        }
        .price a {
          color: $pink;
        }
      }
    }
  }
}

.mobile-grid-controls {
  display: none;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr;
  padding: 2% 5%;
  border-top: 1px solid $grey;
  row-gap: 15px;

  .footer-legend {
    @include flex-centered();
    flex-direction: column;
    .legend-logo {
      background-image: url(../images/logos/4drumz-Footer-Logo.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50%;
      height: 115px;
      width: 50%;
      min-width: 210px;
    }

    .legend-text {
      width: 85%;
      margin-top: -15px;
      text-align: center;
      color: #919aa1;
    }
  }

  .links-title {
    font-family: "Gotham Bold", Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: $pink;
    border-bottom: 2px solid $pink;
    padding-bottom: 2px;
    margin-bottom: 5px;
  }
  .links-list {
    display: flex;
    ul {
      flex-grow: 1;
      li {
        margin: 5px 0;
      }
      a {
        font-family: "Gotham", Arial, Helvetica, sans-serif;
        color: $grey;
      }
    }
  }
  .footer-options {
    li {
      display: flex;
      justify-content: flex-end;
      font-family: "Gotham Bold", Arial, Helvetica, sans-serif;
      font-size: 15px;
      color: $pink;
      margin-bottom: 15px;
      .selector-title {
        display: flex;
        align-items: center;
        margin-right: 10px;
        flex-basis: 35%;
      }
      button {
        width: 65%;
        font-family: "Gotham", Arial, Helvetica, sans-serif;
        color: $grey;
        background-color: white;
        border: 1px solid $grey;
        height: 30px;
        flex-grow: 1;
      }
    }
  }
  .footer-copyright {
    display: block;
    border-top: 1px solid $grey;
    color: #919aa1;
    .copyright-left {
      @include flex-centered();

      text-align: center;
      margin-top: 15px;
    }
    .copyright-right {
      @include flex-centered();
      margin-top: 15px;
    }
    ul {
      @include flex-centered();
      li {
        text-align: center;
        margin-right: 15px;
        font-size: 25px;
        i {
          color: #919aa1;
        }
      }
    }
  }
}

.hot-ads-item1 {
  background-image: url(../images/Ziljian-A-Custom.jpg);
}

.item1 {
  background-image: url(../images/Ziljian-A-Custom.jpg);
}

/* ---- HELPER CLASSES ---- */
.btn-pink {
  background-color: $pink;
  color: white;
  padding: 3%;
  border: 1px;
}

/* ---- SLIDER STYLES ---- */

.glide__arrow {
  position: absolute;
  display: block;
  top: 50%;
  z-index: 2;
  color: $pink;
  text-transform: uppercase;
  padding: 6px 8px;
  background-color: transparent;
  border: 1px solid #888;
  border-radius: 15px;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  opacity: 1;
  cursor: pointer;
  transition: opacity 150ms ease, border 300ms ease-in-out;
  transform: translateY(-50%);
  line-height: 1;
}
.glide__arrow:focus {
  outline: none;
}
.glide__arrow:hover {
  border-color: white;
}
.glide__arrow--left {
  left: -4%;
}
.glide__arrow--right {
  right: -4%;
}
.glide__arrow--disabled {
  opacity: 0.33;
}
.glide__bullets {
  position: absolute;
  z-index: 2;
  bottom: 0.5em;
  left: 50%;
  display: inline-flex;
  list-style: none;
  transform: translateX(-50%);
}
.glide__bullet {
  background-color: $grey;
  width: 9px;
  height: 9px;
  padding: 0;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  line-height: 0;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  margin: 0 0.25em;
}
.glide__bullet:focus {
  outline: none;
}
.glide__bullet:hover,
.glide__bullet:focus {
  background-color: $pink;
}
.glide__bullet--active {
  background-color: $pink;
}
.glide--swipeable {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.glide--dragging {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

@media screen and (min-width: 450px) {
  .nav-main {
    .nav-logo {
      height: 40px;
      width: 122px;
    }
  }
}
