* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 12px;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #383838;
}

.nav-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  width: 100%;
  background-color: #383838;
  position: fixed;
  top: 0;
  z-index: 99;
}

.nav-main ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #d35266;
  background-position: 95%;
  background-size: cover;
  background-blend-mode: saturation;
  width: 100%;
  height: 100vh;
}

.search-section .sarch-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-section .sarch-container select {
  font-size: 16px;
  font-family: Helvetica Neue;
  font-weight: 500;
  line-height: 1.3;
  padding: 0.6em 0.4em 0.5em 1.8em;
  width: 100%;
  max-width: 100%;
  -webkit-box-sizing: border-box;
  border: 1px solid #aaa;
  -webkit-box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E), -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e5e5e5));
  background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E), linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: left 10% top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}

.search-section .sarch-container button {
  display: block;
}

.publicity-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.publicity-slider .glide {
  width: 90%;
}

.publicity-slider .glide .item-container {
  padding: 5%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3px;
}

.publicity-slider .glide .item-container .item-image-container {
  padding: 3%;
}

.publicity-slider .glide .item-container .item-image-container .item-img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 100%;
}

.publicity-slider .glide .item-container .item-info {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
}

.publicity-slider .glide .item-container .item-info h2 {
  font-size: 16px;
  color: #d35266;
  margin-bottom: 2%;
}

.publicity-slider .glide .item-container .item-info p {
  margin-bottom: 3%;
}

.publicity-slider .glide .item-container .item-info .item-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 300px;
  max-height: 100px;
}

.publicity-slider .glide .item-container .item-info .item-buttons button:first-child {
  -ms-flex-preferred-size: 28%;
      flex-basis: 28%;
  border-right: 1px solid #383838;
}

.publicity-slider .glide .item-container .item-info .item-buttons button:last-child {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

.extender {
  height: 1000px;
  background-color: red;
}

.hot-ads-item1 {
  background-image: url(../images/Ziljian-A-Custom.jpg);
}

/* ---- HELPER CLASSES ---- */
.btn-pink {
  background-color: #d35266;
  color: white;
  padding: 5%;
  border: 1px;
}

/* ---- SLIDER STYLES ---- */
.glide__arrow {
  position: absolute;
  display: block;
  top: 50%;
  z-index: 2;
  color: #d35266;
  text-transform: uppercase;
  padding: 9px 12px;
  background-color: transparent;
  border: 1px solid #888;
  border-radius: 15px;
  -webkit-box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  opacity: 1;
  cursor: pointer;
  -webkit-transition: opacity 150ms ease, border 300ms ease-in-out;
  transition: opacity 150ms ease, border 300ms ease-in-out;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  line-height: 1;
}

.glide__arrow:focus {
  outline: none;
}

.glide__arrow:hover {
  border-color: white;
}

.glide__arrow--left {
  left: -4%;
}

.glide__arrow--right {
  right: -4%;
}

.glide__arrow--disabled {
  opacity: 0.33;
}

.glide__bullets {
  position: absolute;
  z-index: 2;
  bottom: 2em;
  left: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.glide__bullet {
  background-color: rgba(255, 255, 255, 0.5);
  width: 9px;
  height: 9px;
  padding: 0;
  border-radius: 50%;
  border: 2px solid transparent;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  line-height: 0;
  -webkit-box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  margin: 0 0.25em;
}

.glide__bullet:focus {
  outline: none;
}

.glide__bullet:hover,
.glide__bullet:focus {
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0.5);
}

.glide__bullet--active {
  background-color: white;
}

.glide--swipeable {
  cursor: grab;
  cursor: -webkit-grab;
}

.glide--dragging {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}
/*# sourceMappingURL=main.css.map */